
.carouselContainer :global(.swiper) {
  /* width: 100%; */
  padding-bottom: 60px; 
  /* Adds space for pagination */
}


.carouselContainer :global(.swiper-pagination-bullet) {
  width: 10px;
  height: 10px;
  background: #888;
  opacity: 0.5;
  margin: 0 5px;
}

.carouselContainer :global(.swiper-pagination-bullet-active) {
  background: #6E50F0;
  opacity: 1;
  outline: 2px solid #F45C70 ;
  outline-offset: 2px;
}